@model WNG.Sequence.Models.SequenceRequest

@{
    ViewBag.Title = "Enter Number to generate sequences";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Enter Number to generate sequences</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Number Sequnce</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger", id="errNumber" })
            </div>
        </div>

        <input type="submit" id="btnGenerate" value="Generate" class="btn btn-primary"/>
    </div>
}