<div class="jumbotron">
    <h1>Sequence Generator</h1>
    <p class="lead">Use this small web app to generate interesting numeric sequences based on the number you key in. If you are ready, start by clicking on <b>Start</b> down below.</p>
    <p>Keep in mind that you should provide a positive whole number.</p>
    <p>@Html.ActionLink("Start", "CreateSequence", "Sequence", null, new { @class= "btn btn-primary btn-lg", id= "btnStart" })</p>
</div>
<div class="row">
    <div class="col-lg-offset-4 col-md-4">
        <h2>More Info</h2>
        <p>This test application has been written using ASP.Net MVC</p>
    </div>
</div>
